.navbar {
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItems {
  width: 431px;
  height: 26px;
  top: 63px;
  left: 508px;
  display: flex;
  justify-content: space-between;
}
